/** Global Scope */
:root {
    --primaryColor: #ff3700;
    --secondaryColor: rgba(255, 255, 255, 0.5);
    --whiteColor: #fff;
}

*{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p,
input {
    padding: 0;
    margin: 0 !important;
}

/* html::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
} */

html {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

body {
    width: 100%;
    height: 100%;
    background-image: url('Images/movies/bg-little-mermaid.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s ease-in;
}

/** Main Section */
.main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main.blur {
    filter: blur(3px);
    background: rgba(0, 0, 0, 0.5);
}

/** Header Section */
.header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    color: var(--whiteColor);
    background-color: transparent;
}

/* HeaderLeft Section */
.header .headerLeft {
    display: flex;
}

.header .headerLeft a h2 {
    font-size: 32px;
    font-weight: 800;
    color: var(--whiteColor);
}

/* HeaderRight Section */
.header .headerRight {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 15px;
}

.header .headerRight p {
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.header .headerRight p:hover {
    color: var(--primaryColor);
}

/** HamburgerHeader Section */
.hamburgerHeader {
    display: none;
}

/** Content Section */
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    margin: 0 80px;
}

/* Content Left Section */
.content .contentLeft {
    display: flex;
    flex-direction: column;
}

.content .contentLeft_Top img {
    width: auto;
    height: 80px;
    margin: 0 0 10px 0;
    transition: 0.3s ease-in;
}

.content .contentLeft_Middle h4 {
    font-size: 26px;
    font-weight: 400;
    color: var(--secondaryColor);
}

.content .contentLeft_Middle h4 span {
    padding: 0 10px;
    border-right: 1px solid var(--secondaryColor);
}

.content .contentLeft_Middle h4 span:first-child {
    padding-left: 0;
}

.content .contentLeft_Middle h4 span:last-child {
    padding-right: 0;
    border-right: none;
}

.content .contentLeft_Middle h4 span i {
    padding: 0 8px;
    border-radius: 5px;
    color: var(--whiteColor);
    background: var(--primaryColor);
}

.content .contentLeft_Bottom p {
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5em;
    margin: 10px 0;
    color: var(--whiteColor);
}

.content .contentLeft_Bottom .button {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.content .contentLeft_Bottom .button a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    transition: 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 15px;
    border-radius: 5px;
    color: var(--whiteColor);
    background: var(--primaryColor);
}

.content .contentLeft_Bottom .button a:hover {
    cursor: pointer;
}

.content .contentLeft_Bottom .button a i {
    font-size: 12px;
    padding-right: 8px;
}

.content .contentLeft_Bottom .button a:nth-child(2) {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.content .contentLeft_Bottom .button a:hover:nth-child(2) {
    background: var(--primaryColor);
}

/* Content Right Section */
.contentRight {
    display: flex;
    align-items: center;
}

.contentRight .carousel-box {
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.contentRight .carousel-box .carousel {
    height: 325px;
    perspective: 1800px;
}

.contentRight .carousel-box .carousel .carousel-item,
.contentRight .carousel-box .carousel .carousel-item .active {
    width: 150px;
    height: fit-content;
}

.contentRight .carousel-box .carousel .carousel-item:hover,
.contentRight .carousel-box .carousel .carousel-item .active:hover {
    cursor: pointer;
}

.contentRight .carousel-box .carousel .carousel-item img {
    width: 150px;
    height: fit-content;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

/** Footer Section */
.footer {
    height: 60px;
    margin: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Footer Left Section */
.footerLeft .play {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--whiteColor);
    transition: 0.3s;
}

.footerLeft .play:hover {
    color: var(--primaryColor);
    cursor: pointer;
}

.footerLeft .play i {
    font-size: 22px;
    margin-right: 8px;
}

/* Footer Right Section */
.footerRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footerRight a {
    font-size: 22px;
    color: var(--whiteColor);
    transition: 0.3s;
}

.footerRight a:hover {
    color: var(--primaryColor);
    cursor: pointer;
}

/** Tralier Container Section */
.trailerContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    width: -webkit-fill-available;
    height: 100vh;
    z-index: 9999;
}

.trailerContainer .trailer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.trailerContainer .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 10001;
}

/** Responsive Screen Section */
@media screen and (max-width: 990px) {

    /** Header Section */
    .header {
        height: 80px;
        margin: 0 60px;
    }

    /* Header Left Section */
    .header .headerLeft {
        width: 180px;
    }

    /* Header Right Section */
    .header .headerRight {
        width: 180px;
    }

    /** Content Section */
    .content {
        gap: 80px;
        margin: 0 60px;
    }

    /* Content Left Section */
    .content .contentLeft_Top img {
        height: 60px;
        margin: 0 0 10px 0;
    }

    .content .contentLeft_Middle h4 {
        font-size: 18px;
    }

    .content .contentLeft_Middle h4 span {
        padding: 0 6px;
    }

    .content .contentLeft_Middle h4 span i {
        padding: 0 6px;
    }

    .content .contentLeft_Bottom p {
        font-size: 12px;
        line-height: 1.2em;
    }

    .content .contentLeft_Bottom .button {
        gap: 8px;
    }

    .content .contentLeft_Bottom .button a {
        font-size: 12px;
        padding: 4px 10px;
    }

    .content .contentLeft_Bottom .button a i {
        font-size: 12px;
        padding-right: 6px;
    }

    /* Content Right Section */
    .contentRight .carousel-box {
        width: 450px;
    }

    .contentRight .carousel-box .carousel {
        height: 225px;
    }

    .contentRight .carousel-box .carousel .carousel-item,
    .contentRight .carousel-box .carousel .carousel-item .active {
        width: 100px;
    }

    .contentRight .carousel-box .carousel .carousel-item img {
        width: 100px;
    }

    /** Footer Section */
    .footer {
        margin: 0 60px;
    }
}

@media screen and (max-width: 790px) {

    /** Header Section */
    .header {
        display: none;
    }

    /** Hamburger Header Section */
    .hamburgerHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--whiteColor);
        margin: 0 40px;
        height: 60px;
        width: -webkit-fill-available;
    }

    /* Hamburger Header Left Section */
    .hamburgerHeader .hamburgerHeaderLeft {
        display: flex;
        align-items: center;
    }

    .hamburgerHeader .hamburgerHeaderLeft a {
        color: inherit;
        text-decoration: none;
    }

    .hamburgerHeader .hamburgerHeaderLeft a h2 {
        font-size: 32px;
        font-weight: 800;
    }

    /* Hamburger Header Right Section */
    .hamburgerHeader .hamburgerHeaderRight {
        display: flex;
        align-items: center;
    }

    .hamburgerHeader .hamburgerHeaderRight i {
        font-size: 24px;
    }

    .hamburgerHeaderRight .hamburgerHeaderRightContent {
        position: absolute;
        top: 0;
        right: -260px;
        display: flex;
        flex-direction: column;
        height: -webkit-fill-available;
        padding: 13px;
        transition: right 0.3s ease-in-out;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .hamburgerHeaderRight .hamburgerHeaderRightContent p {
        font-size: 16px;
        font-weight: 500;
        padding: 5px 0;
    }

    .hamburgerHeaderRight .hamburgerHeaderRightContent .searchContainer {
        padding: 5px 0 0 0;
    }

    .hamburgerHeaderRight .hamburgerHeaderRightContent .searchContainer input {
        width: -webkit-fill-available;
        height: 100%;
        font-size: 16px;
        color: var(--whiteColor);
        background: transparent;
        padding: 0 10px 0 35px;
        margin: 0;
        outline: none;
        border-bottom: 1px solid var(--secondaryColor);
    }

    .hamburgerHeaderRight .hamburgerHeaderRightContent .searchContainer input::placeholder {
        color: var(--whiteColor);
    }

    .hamburgerHeaderRight .hamburgerHeaderRightContent .searchContainer i {
        position: absolute;
        font-size: 16px;
        color: var(--whiteColor);
        padding: 1px 8px 1px 0;
        border-right: 1px solid var(--whiteColor);
        z-index: 1;
    }

    .hamburgerHeaderRight .hamburgerHeaderRightContent.visable {
        right: 0;
        width: 230px;
    }

    /** Content Section */
    .content {
        flex-direction: column;
        gap: 40px;
        margin: 0 40px;
    }

    /* Content Left Section */
    .content .contentLeft {
        align-items: center;
    }

    .content .contentLeft_Top {
        height: 80px;
        margin: 0 0 10px 0;
    }

    .content .contentLeft_Top img {
        height: 80px;
        margin: 0 0 10px 0;
    }

    .content .contentLeft_Middle h4 {
        font-size: 16px;
    }

    .content .contentLeft_Middle h4 span {
        padding: 0 8px;
    }

    .content .contentLeft_Middle h4 span i {
        padding: 0 8px;
    }

    .content .contentLeft_Bottom p {
        margin: 10px 0;
        text-align: center;
    }

    .content .contentLeft_Bottom .button {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /* Content Right Section */
    .contentRight .carousel-box {
        width: 350px;
    }

    .contentRight .carousel-box .carousel {
        height: 200px;
    }

    .contentRight .carousel-box .carousel .carousel-item,
    .contentRight .carousel-box .carousel .carousel-item img,
    .contentRight .carousel-box .carousel .carousel-item .active {
        width: 85px;
    }

    /** Footer Section */
    .footer {
        height: 60px;
        margin: 0 40px;
    }
}