/** Global */

:root {
    --primaryColor: #002147;
    --secondaryColor: #b9cf25;
    --greyColor: #999999;
    --whiteColor: #fff;
}

body {
    width: -webkit-fill-available;
    height: 100vh;
    margin: 0;
    background-image: url('Images/movies/bg-the-tank.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 80px;
}

/** Header Section */
header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    color: var(--whiteColor);
}

header .headerLeft{
    display: flex;
    align-items: center;
}

header .headerLeft h2{
    font-size: 36px;
    font-weight: 600;
}

header .headerMiddle{
    display: flex;
}

header .headerMiddle p {
    padding: 0 15px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

header .headerRight{
    display: flex;
    align-items: center;
}

header .headerRight input{
    width: 120px;
    height: 20px;
}

/** Body Section */
.body{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
    color: var(--whiteColor);
}

.body .bodyLeft{
    display: flex;
    flex-direction: column;
}

.body .bodyLeft_Top img{
    width: auto;
    height: 80px;
}

.body .bodyLeft_Middle{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 0;
}

.body .bodyLeft_Bottom p{
    margin: 0 0 10px 0;
}

.body .bodyRight{
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-slider {
    width: 180px;
    height: 270px;
    overflow: hidden;
    position: relative;
}

.movie-banners {
    display: flex;
    transition: transform 0.5s ease;
}

.movie-banners img {
    width: 100%;
    display: block;
    opacity: 0.5; /* Set initial opacity for banners in the background */
    transition: opacity 0.5s ease;
}

.movie-banners img.active {
    width: 100%;
    opacity: 1;
}

.prev, .next {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/** Footer Section */
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--whiteColor);
}