/** .............Global Styles............. */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(5, 5, 41);
    color: white;
}

/** .............Custom Styles............. */
.purple {
    color: rgb(158, 84, 228);
}

/** ...............Home Page............... */
/* Navbar */
nav {
    background-color: rgb(22, 22, 68);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 30px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    font-size: 1.02rem;
    color: rgb(158, 84, 228);
}

div.left {
    font-size: 2rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.firstSection>div {
    width: 40%;
}

.leftSection {
    font-size: 3rem;
    margin: 0 50px;
}

.rightSection img {
    width: 80%;
}